* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(38, 49, 15);
}

header,
footer {
  text-align: center;
  font-size: 1.025rem;
  padding-block: 0.75rem;
  color: rgb(255, 216, 249)
}

main {
  background-color: rgb(195, 199, 255);
  max-width: 520px;
  margin: auto;
  padding: 2rem 3rem;
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic img {
  width: 75%;
}

.introduction {
  text-align: center;
}

.name {
  font-size: 1.3rem;
  padding-block: 0.25rem;
}

.job {
  font-size: 1.05rem;
  font-family: monospace;
  padding-bottom: 0.25rem;
}

.company {
  font-style: italic;
  padding-bottom: 0.75rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 0.25rem;
}

.buttons button {
  width: 48%;
  padding-block: 0.35rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16.5px;
  border-radius: 0.25rem;
  background-color: rgb(65, 27, 126);
  color: white;
}

.content {
  padding-top: 1.5rem;
}

.about {
  padding-bottom: 1.5rem;
}

.interests {
  padding-bottom: 1rem;
}

.about-content,
.interests-content {
  padding-top: 0.5rem;
  text-align: justify;
  line-height: 1.25rem;
}

footer {
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}